*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}
#logo{
    font-size: 1.8rem;
    font-weight: 800;
    background: linear-gradient(90deg, #5fe7ff, #211818); /* gradient */
   -webkit-background-clip: text; /* clip background to text */
   background-clip: text; /* clip background to text */
   color: transparent; /* make text transparent */
   transition: all 0.5s ease;

}
#logo:hover {
  background: linear-gradient(90deg, #4facfe, #00f2fe);
  -webkit-background-clip: text; /* clip background to text */
   background-clip: text; /* clip background to text */
   color: transparent; /* make text transparent */ /* new gradient on hover */
}

.navlinks{
    display: flex;
    gap: 1.9rem;
   
}
.navlinks a{
    font-size: 1.2rem;
    font-weight:600 ;
    color: #211818;
    transition: all 0.5s ease;
}
.navbar a:hover{
    background: linear-gradient(90deg, #5fe7ff, #f3a3a3); /* gradient */
   -webkit-background-clip: text; /* clip background to text */
   background-clip: text; /* clip background to text */
   color: transparent; /* make text transparent */

}
